*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.main-header{
    position: fixed;
    max-height: 100px;
    width: 100%;
    height: 50px;
    background: #3c8dbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.logo{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 230px;
    font-weight: 300;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo:hover{
    color: #ddd;
}
.header-body{
    color: #ffffff;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.header-body a{
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.header-body a:hover{
    color: #ddd;
}
a{
    text-decoration: none;
}