.main-sidebar{
    border-right: 1px solid #d2d6de;
    background-color: #f9fafc;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    height: 100vh;
    width: 230px;
}

.sidebar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu li:hover{
    background: #f4f4f5;
}
.sidebar-menu li a{
    color: #000000;
    padding: 12px 5px 12px 15px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
}
.sidebar-menu li a i{
    width: 20px;
}
.selected{
    background: #f4f4f5;
}